@property --angle {
	syntax			: "<angle>";
	initial-value	: 0deg;
	inherits		: false;
}

/** OUTLINE **/
.outlined {
	position: relative;
}
.outlined::before {
	display			: block;
	content			: "";
	
	position		: absolute;
	inset			: calc(var(--offset) * -1);
	
	border			: solid var(--offset) transparent;
	border-radius	: calc(var(--radius) + var(--offset));
	background		: conic-gradient(from var(--angle),
										oklch(from var(--gradKeyA) l c h),
										oklch(from var(--gradKeyB) l c h),
										oklch(from var(--gradKeyA) l c h)) border-box;
	
	mask			: linear-gradient(to right, black, black) content-box
					, linear-gradient(to right, black, black);
	mask-composite	: exclude;
}
.outlined:hover::before {
	animation: spinOutline 2s linear infinite;
}
@keyframes spinOutline {
	from{
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}