:root {
	--maskColor		: green;
	--timelineWidthL: 8px;

	--headerColor	: orange;
}

@property --angle {
	syntax			: "<angle>";
	initial-value	: 0deg;
	inherits		: false;
}

@property --piece {
	syntax			: "<url>";
	initial-value	: url();
	inherits		: false;
}

/** OUTLINE **/
.outlined {
	position: relative;
}
.outlined::before {
	display			: block;
	content			: "";
	
	position		: absolute;
	inset			: calc(var(--offset) * -1);
	
	border			: solid var(--offset) transparent;
	border-radius	: calc(var(--radius) + var(--offset));
	background		: conic-gradient(from var(--angle),
										oklch(from var(--gradKeyA) l c h),
										oklch(from var(--gradKeyB) l c h),
										oklch(from var(--gradKeyA) l c h)) border-box;
	
	mask			: linear-gradient(to right, black, black) content-box
					, linear-gradient(to right, black, black);
	mask-composite	: exclude;
}
.outlined:hover::before {
	animation: spinOutline 2s linear infinite;
}
@keyframes spinOutline {
	from{
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}

/** GALLERY **/
#timeline {
	position	: relative;
	display 	: grid;

	margin: 8px;
	margin-left: 112px;
}
#timeline::before {
	content			: "";
	position		: absolute;

	inset			: 0px;
	width			: var(--timelineWidthL);

	background		: linear-gradient(in oklch shorter hue,
								hsl(from var(--gradKeyA) h calc(s * 0.8) calc(l + 20)),
								hsl(from var(--gradKeyB) h calc(s * 0.8) calc(l + 20)));
	border-radius	: calc(var(--timelineWidthL) / 2);
}

.entry {
	display		: grid;
	position	: relative;
	transform-origin: left;

	padding		: 8px calc(var(--timelineWidthL) + 4px);
	align-items	: center;

	size: 0.5;
	opacity: 0;
}
.entry h3 {
	position		: absolute;
	right			: calc(100% + var(--timelineWidthL) * 2);
	
	width			: min-content;
	text-align		: right;
}
.entry::before {
	content			: "";
	
	background-color: white;
	width			: var(--timelineWidthL);
	height			: var(--timelineWidthL);
	
	border-radius	: 50%;
	border			: solid 4px hsl(from var(--gradKeyA) h calc(s * 0.8) calc(l + 20));
	position		: absolute;

	right			: calc(100% - var(--timelineWidthL) * 1.5);
}

.year_stamp {
	position: relative;
	margin-left: 32px;
}
.year_stamp::before {
	content			: "";
	
	background-color: white;
	border-radius	: 8px;
	border			: solid 4px hsl(from var(--gradKeyA) h calc(s * 0.8) calc(l + 20));
	
	width			: 16px;
	height			: 4px;
	
	position		: absolute;
	top				: 10px;
	right			: calc(100% + var(--timelineWidthL) * 2);
}

.dateRow {
	position	: relative;
	
	display		: flex;
	align-items	: center;

	gap			: 8px;
	padding-left: 8px;
}

.piece p{
	opacity			: 0;

	background-color: var(--headerColor);
	border			: solid 1px var(--headerColor);
	border-radius	: var(--radius);
	backdrop-filter	: blur(4px);

	position		: absolute;
	inset			: auto 0px;
	margin			: 0px;
	bottom			: 0px;

	height			: 2rem;
	
	text-align		: center;
	line-height		: 32px;

	translate		: 0px -20px;
	transform-origin: bottom;
	transition		: opacity linear 0.2s, translate ease 0.2s;
}
.piece:hover p {
	opacity: 1;
	translate: 0px 0px;
}
.piece {
	border-radius			: var(--radius);
	background-image		: var(--piece), url('../Media/Checker.webp');
	background-size			: cover, auto;
	background-repeat		: no-repeat, repeat;
	background-blend-mode	: normal, multiply;
	background-position		: center;
	background-color		: hsl(from var(--gradKeyA) h s l / 0.25);

	width					: clamp(128px, 50vw, 224px);
	height					: clamp(128px, 50vw, 224px);

	max-width				: 100%;
	max-height				: 100%;

	scale					: 0.95;
	transition				: scale ease 0.2s;
}
.piece:hover {
	scale		: 1.0;
}
.piece::before {
	--offset	: 2px;
	transition	: --offset ease 0.2s;
}
.piece:hover::before {
	--offset	: 3px;
}