:root {
	--timelineWidthL: 8px;
	--headerColor	: orange;
}

/** OVERLAY **/
.overlay {
	display			: grid;
	justify-content	: center;
	align-items		: center;

	background-color: #000011d3;
	backdrop-filter	: blur(40px);
	
	position		: fixed;
	z-index			: 1;
	inset			: 0px;
}

.overlay_content {	
	display				: grid;

	grid-auto-columns	: 60vw;
	grid-auto-rows		: min-content 40vh;
}
.overlay_content.outlined {
	height: min-content;
}
.overlay_content::before {
	--offset: 2px;
}
.overlay_content.outlined:hover::before {
	animation: none;
}

.close_bounds {
	position: absolute;
	inset: 0px;
}
.close_button {
	position: absolute;
	width	: max-content;

	top		: 16px;
	right	: 16px;

	padding: 8px 12px;
	
	--radius: 4px;
	--buttonColor: #8d1414;
}

/** WARNING **/
#warning_content {
	background-color: #010127;
	--gradKeyA		: #1c1c8d;
	--gradKeyB		: #1b0345;

	border-radius	: calc(var(--radius) - var(--offset));
	width			: clamp(320px, 50vw, 640px);
}
#warning_content h1 {
	background-color: #5c00004d;
	border-radius	: inherit;
	
	margin			: 0px;
	padding			: 8px 4px;

	text-align		: center;
	text-transform	: uppercase;
}

/** PREVIEW **/
#preview_overlay {
	display: none;
	opacity: 0;
}
#preview_graphic {
	display				: block;

	background-image	: var(--piece);
	background-size		: contain;
	background-position	: center;
	background-repeat	: no-repeat;
	backdrop-filter		: blur(10px) brightness(50%);

	height: 100%;
	width: 100%;
	margin: auto;

	border-radius: 4px;
}
#preview_background {
	background-image	: var(--piece);
	background-size		: cover;
	background-position	: center;

	height				: 50vh;

	border-radius: 4px;
	overflow: hidden;
}
#piece_information {
	background-color: #000011d3;
	border-radius: 0px 0px var(--radius) var(--radius);
	
	scrollbar-color	: white transparent;

	overflow-y		: auto;
	padding			: 0px 16px;

	z-index: 1;
}
#piece_information a {
	color					: #66ff73;
	text-decoration			: underline;
	text-underline-offset	: 4px;
}

/** TIMELINE GALLERY **/
.timeline_bounds {
	background-color: #02041b;
	border-radius	: 8px;
	padding			: 8px;
}
.timeline {
	position	: relative;
	display 	: grid;

	margin		: 8px;
	margin-left	: 112px;

	max-width	: 100%;
	filter		: drop-shadow(0px 4px 8px #142f6880);
}
.timeline::before {
	content			: "";
	position		: absolute;

	inset			: 0px;
	width			: var(--timelineWidthL);

	background		: linear-gradient(in oklch shorter hue,
								hsl(from var(--gradKeyA) h calc(s * 0.8) calc(l + 20)),
								hsl(from var(--gradKeyB) h calc(s * 0.8) calc(l + 20)));
	border-radius	: calc(var(--timelineWidthL) / 2);
}

.entry {
	display		: grid;
	position	: relative;
	transform-origin: left;

	padding		: 8px calc(var(--timelineWidthL) + 4px);
	align-items	: center;

	size: 0.5;
}
.entry h3:not(hgroup h3) {
	position		: absolute;
	right			: calc(100% + var(--timelineWidthL) * 2);
	
	width			: min-content;
	text-align		: right;
	font-size		: clamp(.9rem, 3vw, 1.17rem);
}
.entry::before {
	content			: "";
	
	background-color: white;
	width			: var(--timelineWidthL);
	height			: var(--timelineWidthL);
	
	border-radius	: 50%;
	border			: solid 4px hsl(from var(--gradKeyA) h calc(s * 0.8) calc(l + 20));
	position		: absolute;

	right			: calc(100% - var(--timelineWidthL) * 1.5);
}

.year_stamp {
	position: relative;
	margin-left: 32px;
}
.year_stamp::before {
	content			: "";
	
	background-color: white;
	border-radius	: 8px;
	border			: solid 4px hsl(from var(--gradKeyA) h calc(s * 0.8) calc(l + 20));
	
	width			: 16px;
	height			: 4px;
	
	position		: absolute;
	top				: 10px;
	right			: calc(100% + var(--timelineWidthL) * 2);
}

.dateRow {
	position	: relative;
	
	display		: grid;
	grid-template-columns: repeat(auto-fit, clamp(128px, 30vw, 224px));
	
	gap			: 8px;
	align-items	: center;
	
	height: max-content;
	width: clamp(128px, 80vw, calc(100vw - 224px));
	padding-left: 8px;
}

.piece {
	border-radius			: var(--radius);
	background-image		: var(--piece), url('../Media/Checker.webp');
	background-size			: cover, auto;
	background-repeat		: no-repeat, repeat;
	background-blend-mode	: normal, multiply;
	background-position		: center;
	background-color		: hsl(from var(--gradKeyA) h s l / 0.25);

	width					: clamp(128px, 30vw, 224px);
	height					: clamp(128px, 30vw, 224px);

	max-width				: 100%;
	max-height				: 100%;

	cursor					: pointer;
	text-overflow			: ellipsis;

	opacity					: 0.6;
	scale					: 0.95;
	transition				: scale ease 0.2s, opacity linear 0.2s;
}
.piece p{
	opacity			: 0;
	background-color: var(--headerColor);
	
	border			: solid 1px var(--headerColor);
	border-radius	: var(--radius);
	backdrop-filter	: blur(4px);
	
	font-size		: clamp(12px, 2vw, 1rem);
	line-height		: 32px;

	text-align		: center;
	user-select		: none;
	height			: 2rem;
	
	position		: absolute;
	inset			: auto 0px;
	margin			: 0px;
	bottom			: 0px;

	translate		: 0px -20px;
	transform-origin: bottom;
	transition		: opacity linear 0.2s, translate ease 0.2s;
}
.piece:hover p {
	opacity: 1;
	translate: 0px 0px;
}
.piece:hover {
	scale		: 1.0;
	opacity		: 1;
}
.piece::before {
	--offset	: 2px;
	transition	: --offset ease 0.2s;
}
.piece:hover::before {
	--offset	: 3px;
}

@property --piece {
	syntax			: "<url>";
	initial-value	: url();
	inherits		: false;
}

/** CHANGELOG **/
#changelog {
	display: none;
	opacity: 0;
}
#changelog .timeline {
	filter		: drop-shadow(0px 4px 8px #0c1f5e80);

	margin-left	: 80px;
	--gradKeyA	: #131359;
	--gradKeyB	: #030521;
}
#changelog .overlay_content {
	background-color		: transparent;

	grid-template-columns	: 80vw;
	grid-auto-rows			: min-content 80vh;

	border-radius			: var(--radius);
	overflow				: hidden;
}
#changelog .overlay_content h1 {
	background-color: inherit;
	text-align		: center;

	padding			: 12px 0px;
	margin			: 0px;
}
#changelog .timeline_bounds {
	background-color: inherit;
	overflow-y		: scroll;
}
#changelog .entry article {
	border-radius	: var(--radius);

	padding			: 0px 16px;
	margin-left		: 8px;
}
#changelog nobr {
	font-size: 1rem;
}
#changelog ul {
	list-style-type	: '- ';
	padding-left	: 16px;
}

#open_changelog {
	--buttonColor: #20619e;

	width: max-content;
	margin: auto;
}

/** FILTERS **/
#filters {
	display					: grid;
	grid-template-columns	: repeat(auto-fit, minmax(256px, 1fr));
	gap						: 8px;

	justify-content			: center;
	align-items				: center;

	--radius:				4px;
}

#search {
	position: relative;

	border: solid 1px #191982;
	background-color: #0e0e49;

	border-radius: var(--radius);
	padding: 12px;
}
#search::after {
	position: absolute;
	content: "";

	background-image: url("../Media/Checker.webp");
	background-size: contain;
	inset: 0px;
	z-index: 1;

	width: 64px;
	height: 64px;
}
input:focus {
	accent-color: transparent;
	outline: none;
}
input::placeholder {
	color: white;
}

.multi_toggle {
	position		: relative;
	font-size		: 0.833rem;
	
	border: solid 1px #191982;
	background-color: #0e0e49;

	border-radius: var(--radius);
}
.multi_toggle p {
	user-select: none;
	
	margin	: 0px;
	padding	: 12px;
}
.toggle_list {
	display			: none;
	background-color: #0b0b467f;
	border			: solid 1px #191982;
	border-radius	: 0px 0px var(--radius) var(--radius);
	backdrop-filter	: blur(10px);
	
	position		: absolute;
	z-index			: 1;
	
	inset: auto -1px;
	translate: 0px 0px;
}
.toggle_list option {
	cursor			: pointer;
	padding			: 4px 8px;
}
.toggle {
	background-color: #1c1c8d60;
}