@property --offset {
	syntax			: "<length>";
	initial-value	: 1px;
	inherits		: false;
}

:root {
	--buttonColor	: white;

	--gradKeyA		: #060631;
	--gradKeyB		: #130330;

	--radius		: 6px;
}

* {
	font-family	: "Rajdhani";
}

html {
	background			: linear-gradient(to bottom, var(--gradKeyA), var(--gradKeyB));
	background-repeat	: repeat-x;
	background-size		: cover;

	scroll-behavior		: smooth;
	color				: white;
}
body {
	position	: relative;
	overflow	: hidden;

	min-height	: 100vh;
	scrollbar-color: white transparent;
}
h1, h2, h3 {
	font-family: "Rajdhani_Bold";
}
h4, h5, h6, button, nobr {
	font-family: "Rajdhani_SemiBold";
}
p, a {
	font-family: "Rajdhani_Medium";
}

.flex_center {
	display			: flex;
	justify-content	: center;
	align-items		: center;
}

.link_group_row {
	display	: flex;

	gap		: 8px;
	padding	: 8px;
}

button {
	background-color: hsl(from var(--buttonColor) h s 10%);
	--gradKeyA		: hsl(from var(--buttonColor) h s 61%);
	--gradKeyB		: hsl(from var(--buttonColor) h s 7%);
	color			: var(--buttonColor);
	
	cursor			: pointer;
	outline			: none;
	border			: none;
	border-radius	: calc(var(--radius) - var(--offset));
	
	width			: 100%;
	padding			: 12px;

	transition		: color linear 0.1s, background-color linear 0.1s;
}
button:hover {
	background-color: var(--buttonColor);
	color			: white;
}

input {
	color: white;
}

@font-face {
	font-family: "Rajdhani";
	src: url('../Fonts/Rajdhani/Rajdhani-Regular.ttf');
}
@font-face {
	font-family: "Rajdhani_Medium";
	src: url('../Fonts/Rajdhani/Rajdhani-Medium.ttf');
}
@font-face {
	font-family: "Rajdhani_SemiBold";
	src: url('../Fonts/Rajdhani/Rajdhani-SemiBold.ttf');
}
@font-face {
	font-family: "Rajdhani_Bold";
	src: url('../Fonts/Rajdhani/Rajdhani-Bold.ttf');
}