#welcome {
	position		: fixed;
	background-color: black;

	display			: grid;
	place-items		: center;
	
	overflow		: hidden;
	inset: 0px;
	z-index: 1;
}
#banner {
	background-image	: url("../Media/Naughty_Orion.webp");
	background-size		: cover;
	background-position	: 50% 50%;
	
	position			: absolute;
	inset				: 0px;
	
	filter				: blur(10px);
	opacity				: 0.3;
}

.profile {
	filter					: drop-shadow(0px 0px 8px #090756);
	opacity					: 0;
	
	overflow				: hidden;
	display					: none;
	grid-template-columns	: max-content max-content;
	justify-content			: center;
	align-items				: center;

	height					: min-content;
	width					: min-content;
	
	gap						: 8px;
	z-index					: 1;
}
.profile_img {
	mask-image		: radial-gradient(circle, black, black 60%, transparent 60%);
	width			: clamp(128px, 15vw, 256px);
}

.welcome_text {
	white-space		: nowrap;
	width			: 0%;

	overflow		: hidden;
}
.welcome_text * {
	margin		: 0px;
}
.welcome_text h1 {
	font-size	: clamp(24px, 5vw + 1rem, 4rem);
}
.welcome_text h3 {
	font-family	: "Rajdhani Semibold";
}

footer {
	display			: flex;
	flex-direction	: column;
	gap				: 8px;
	
	background-color: hsl(250, 88%, 6%);
	border-radius	: var(--radius);

	margin			: 8px;
	padding			: 8px;
}
#footer_info h3, #footer_info h4 {
	text-align		: center;
	margin			: 0px;
	padding			: 4px;
}
#open_changelog {
	--buttonColor	: #6a22bd;
	background-color: hsl(from var(--buttonColor) h calc(s * 1.2) 10%);

	padding			: 8px;
	width			: inherit;
}
#open_changelog:hover {
	background-color: var(--buttonColor);
	color			: white;
}

#gallery_title {
	text-align	: center;
	
	margin		: 0px;
	padding		: 16px 8px;
	padding-top	: 12px;
}