* {
	font-family: "Rajdhani";
}

:root {
	--padding: 4px;
	--curve: 8px;
	--radius: calc(var(--curve) - var(--padding));
}

html {
	scroll-behavior: smooth;
}
body {
	background-color: #f5f5f5;
	position: relative;

	margin: 0px;
	padding: 0px;
}
h1, h2, h3 {
	font-family: "Rajdhani_Bold";
}
h4, h5, h6 {
	font-family: "Rajdhani_SemiBold";
}
p, a {
	font-family: "Rajdhani_Medium";
}

main {
	padding: 8px;
}

nav {
	background-color: #000;
	color: #fff;
	
	position: fixed;
	z-index: 1;
	
	display: grid;
	grid-template: auto / auto 1fr auto;
	
	align-items: center;
	height: min-content;
	
	padding: 4px 0px;
	inset: 0px;
}
nav a {
	text-decoration: none;
	text-align: center;

	color: inherit;

	margin: 0px 8px;
	padding: 2px 8px;
}
.flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/** CONTENT TITLE **/
hgroup {
	padding: 8px 0px;
}
hgroup h1 {
	margin: 0px 8px 2px 8px;
	font-size: clamp(0.5rem, 5vw, 2rem);
}
hgroup p {
	margin: 0px 8px 8px 8px;
	font-family: "Rajdhani_SemiBold";

	font-size: clamp(0.25rem, 5vw, 1rem);
}

.rounded article {
	background-color: #e4e4e4;
	border: solid 1px #a9a9a9;
	border-radius: var(--radius);

	padding: 4px;
}
article p {
	margin: 4px;
}

div {
	min-width: 48px;
	min-height: 32px;
}
.rounded {
	background-color: white;
	border: solid 1px #a9a9a9;
	border-radius: var(--curve);

	padding: var(--padding);
}
.fill_view {
	width: 100%;
	height: 100vh;
}
.center_grid {
	display: grid;
	justify-items: center;
	align-content: center;
}

.dropped {
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

/** AVAILABLE FONTS **
	- Rajdhani Regular
	- Rajdhani Medium
	- Rajdhani Semibold
	- Rajdhani Bold
*/
@font-face {
	font-family: "Rajdhani";
	src: url('../Fonts/Rajdhani/Rajdhani-Regular.ttf');
}
@font-face {
	font-family: "Rajdhani_Medium";
	src: url('../Fonts/Rajdhani/Rajdhani-Medium.ttf');
}
@font-face {
	font-family: "Rajdhani_SemiBold";
	src: url('../Fonts/Rajdhani/Rajdhani-SemiBold.ttf');
}
@font-face {
	font-family: "Rajdhani_Bold";
	src: url('../Fonts/Rajdhani/Rajdhani-Bold.ttf');
}